---
import Layout from "../layouts/Layout.astro";
import GouldHeadshot from "../assets/imgs/Gould.jpg";
import CTA from "../components/CTA.astro";
import "../assets/stylesheets/shapes.css";
import "../styles/global.css";

const pageInfo = {
  title: "Meet Dr. Gould - Mind Matters Memphis",
  description:
    "Dr. Gould helps neuropsychology patients maximize their quality of life. Learn more about her background and mission.",
};
---

<Layout page={pageInfo}>
  <div class="bg-dust text-midnight text-xl font-accessbody">
    <div
      class="flex flex-col justify-center w-full py-4 about-parallelogram-wrap"
    >
      <div
        class="about-parallelogram bg-sage h-40 sm:h-48 md:h-64 flex flex-col justify-center items-center justify-self-center mx-4 sm:mx-12 shadow-2xl"
      >
        <span class="visually-hidden">
          A decorative parallelogram element, sage green color, framing the
          header content.
        </span>
        <div class="drop-shadow-lg flex flex-col w-[80%] sm:w-2/3">
          <h1
            class="about-parallelogram-lite bg-midnight text-4xl sm:text-5xl md:text-7xl xl:text-8xl font-accessdisplay text-sand h-20 sm:h-24 md:h-32 w-inherit flex items-center justify-center"
          >
            Meet Dr. Gould
          </h1>
        </div>
      </div>
    </div>
    <div class="p-4 grid gap-4 justify-items-center">
      <div
        class="grid md:grid-cols-2 md:items-center md:max-w-[1024px] md:pt-8"
      >
        <div class="flex justify-center">
          <img
            src={GouldHeadshot.src}
            alt="Professional headshot image of Dr. Amanda Gould"
            class="alt-img-frame bg-sand h-80 object-cover md:h-96"
          />
        </div>
        <div
          class="mt-4 md:mt-0 p-4 max-w-[500px] justify-self-center flex flex-col gap-4"
        >
          <p>
            Dr. Gould is a neuropsychologist in Memphis, TN. Her clinical
            practice focuses on adult patients (age 16 or older) with epilepsy,
            traumatic brain injury (TBI), stroke/neurovascular accidents, and
            other neurocognitive concerns.
          </p>
          <p>
            She performs neuropsychological evaluations and provides her
            patients with education and strategies for optimizing their brain
            health.
          </p>
        </div>
      </div>
      <div class="flex justify-center sm:p-4 sm:px-8 md:p-8 md:pt-16">
        {
          /* <div class="grid gap-8 sm:p-8 md:grid-cols-3 md:grid-rows-3 md:gap-12 max-w-[1000px] items-center">
          <p class="p-4 rounded-xl sm:rounded-none bg-dust md:col-span-2 border-8 border-sage quote-frame-sage">
            "Having a neurological illness can be associated with limitations
            to daily life. I get to provide patients with individualized plans
            of care to help{" "}
            <span class="italic font-bold">maximize quality of life</span>{" "}
            within their own health context."
          </p>
          <p class="p-4 rounded-xl sm:rounded-none bg-dust md:col-start-2 md:col-span-2 border-8 border-inlet quote-frame-inlet">
            "Neurospychology as a profession shares overlap between
            understanding the whole person, their psychology, and how they
            exist in the world with the more medical and objective test
            results."
          </p>
          <p class="p-4 rounded-xl sm:rounded-none bg-dust md:col-span-2 border-8 border-coral quote-frame-coral">
            "My goal as a healthcare provider is to meet my patients where
            they are and give them a space where they can feel heard,
            especially on the more social & mental health side which can
            traditionally be overlooked in a regular office setting."
          </p>
        </div> */
        }
        <div
          class="flex flex-col gap-4 p-4 font-accessitalic italic rounded-md sm:p-8 md:p-12 md:rounded-none max-w-[768px] items-center border-4 md:border-8 bg-dust border-sage quote-frame-sage"
        >
          <p class="">
            <i>
              "Neuropsychology as a profession is the study of the relationship
              between the brain/nervous system and a person’s behavior, mood,
              and cognitive/mental abilities. What that means for the patient is
              that instead of having a single issue treated, they are considered
              as a whole person. Their medical history, their psychology, their
              daily functioning, and their goals are combined with objective
              test results to maximize their brain’s potential.
            </i>
          </p>
          <p class="">
            <i>
              "My goal as a healthcare provider is to give patients suffering
              from neurologic issues a space where they can feel heard,
              especially concerning their mental and social health, which can be
              overlooked in a traditional medical appointment.
            </i>
          </p>
          <p class="">
            <i>
              "Having a neurological illness can be associated with limitations
              to daily life. I get to provide patients with individualized plans
              of care to help{" "}
              <span class="font-accessbold font-bold"
                >maximize quality of life</span
              >{" "}
              within their own health context."
            </i>
          </p>
          <p class="font-accessdisplay text-2xl self-end mr-4 sm:mr-16">
            - Dr. Gould
          </p>
        </div>
      </div>
      <p class="max-w-prose p-4 md:p-8">
        Dr. Gould completed her graduate degree in clinical psychology with a
        specialization in neuropsychology at the University of Memphis, and was
        awarded her PhD in 2016 after completing an internship at the University
        of Kansas School of Medicine-Wichita. She then completed a
        neuropsychology fellowship in the Neurocognitive Assessment Lab at the
        University of Virginia.
      </p>
      <div class="max-w-prose p-4 pt-0 md:p-8 md:pt-0">
        <CTA />
      </div>
    </div>
  </div>
</Layout>
